.blue{
width: 500px;
height: 300px;
background-color: rgb(69, 69, 239);
margin:30px 10px;
}
.yellow{
    width: 300px;
    height: 50px;
    background-color: yellow;
    margin: 10px;
    position:sticky;
    bottom: 520px;
    left: 80px; 
    top: 50px;
}
p{
    width: 30%;
    float:left;
}
/* .para{
clear: left;
} */
.p4{
    clear: left;
}